[submodule "staking/lib/forge-std"]
	path = staking/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "staking/lib/openzeppelin-contracts"]
	path = staking/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
